stages:
  - test
  - build
  - release

eslint:
  image: node:8.1.2
  stage: test
  tags:
    - docker
  script:
    - npm install --quiet
    - npm run lint

flow:
  image: danrspencer/node-flow:8.1.2
  stage: test
  tags:
    - docker
  script:
    - npm install --quiet
    - npm run flow

jest:
  image: node:8.1.2
  stage: test
  tags:
    - docker
  script:
    - echo "module.exports = {localStorageKey:'tellduslive'}" > config.local.js
    - npm install --quiet
    - npm test

android: &android-ubuntu
  image: telldus/react-native-android:27-alpine
  stage: build
  cache:
    paths:
      - node_modules
      - android/gradle
  artifacts:
    paths:
      - android/app/build/outputs/apk/release/app-release.apk
      - android/sourcemap.js
    expire_in: '1 mos'
  script:
    - yarn install --quiet
    - cd android
    - ./buildGitlabRunner.sh
  only:
    - tags
    - master
    - /^v\d+\.\d+.*$/ # Version branches
  tags:
    - android

ios:
  stage: build
  tags:
    - osx
  cache:
    paths:
      - node_modules
  artifacts:
    paths:
      - ios/main.jsbundle.map
      - TelldusLiveApp.ipa
      - TelldusLiveApp.app.dSYM.zip
    expire_in: '1 mos'
  only:
    - tags
    - master
    - /^v\d+\.\d+.*$/ # Version branches
  script:
    - yarn install --quiet
    - cd ios
    - ./buildGitlabRunner.sh

google_play:  &google_play
  image: ruby:2
  stage: release
  tags:
    - docker
  dependencies:
    - android
  environment:
    name: google_play
    url: https://play.google.com/store/apps/details?id=com.telldus.live.mobile.test
  when: manual
  only:
    - tags
  script:
    - echo ${GOOGLE_KEY} > play_key.json
    - bundle install
    - fastlane supply --apk android/app/build/outputs/apk/release/app-release.apk --track alpha

google_play_fastlane:
  <<: *google_play
  script:
    - echo ${GOOGLE_KEY} > play_key.json
    - bundle install
    - fastlane android alpha

testflight:
  stage: release
  tags:
    - osx
  dependencies:
    - ios
  environment:
    name: appstore
    url: https://itunes.apple.com/us/app/telldus-live-mobile-beta/id1014419677
  when: manual
  only:
    - tags
  script:
    - fastlane ios beta

s3:
  image: cgswong/aws:latest
  stage: release
  dependencies:
    - ios
    - android
  environment:
    name: s3
    url: https://download.telldus.com/app
  only:
    - tags
  script:
    - echo "${S3CFG}" > ~/.s3cfg
    - s3cmd put android/app/build/outputs/apk/release/app-release.apk s3://download.telldus.com/app/${CI_COMMIT_TAG}/telldus-app-v3_android_{$CI_COMMIT_TAG}.apk
    - s3cmd put TelldusLiveApp.ipa s3://download.telldus.com/app/${CI_COMMIT_TAG}/telldus-app-v3_ios_{$CI_COMMIT_TAG}.ipa
